
@import '../../scss/variable.scss';
@import '../../scss/global.scss';

.home-container{
    background-image:url("../../assets/Rick&Morties/completebg-1.png");
    background-size: cover;
    // height: 100vh;
    // width:100vw;
    z-index: 10;
    // 
    
    .bg-img-container{
        
        .home-banner {
            
            .logo {
                padding: 15px;
            }
            p{
                max-width: 240px;
                margin-bottom: 0px;
                color: $light-blue;
                line-height: 0.9;
            }
            .banner-header{
                display: flex;
                justify-content: center;

                .banner-middle{
                    // max-width: $banner-middle;
                    display: inline-block;
                    position: relative;
                    .bubble-div{
                        display: inline-block;
                        position: absolute;
                        left: -90px;
                        top: -50px;

                        img{
                            width: 150px;
                        }
                    }
                    h1{
                        font-size: $banner-h1;
                        z-index:1;
                        letter-spacing: 2px;
                    }
                    figure{
                         width:100px;
                        margin: 0 20px 0;
                        img{
                            width: 100%;
                        }
                    }
                    .the{
                        text-shadow: 1px 1px 80px $light-green;
                    }
                    .rick{
                        @include text_gradient($gradient-green,$light-blue);
                        text-shadow: 1px 1px 80px $light-blue;
                        
                    }
                    .morty{
                        @include text_gradient($light-green,$gradient-green);
                    }
                    .lightgun-div{
                        position: absolute;
                        right: -125px;
                        top: 50px;
                        // box-shadow: 1px 1px 80px $light-green;

                        img{
                            max-width: 130px;
                        }
                    }
                    .button{
                        transition: 1s;
                        background-image: linear-gradient(to right,$light-green,$light-blue);
                        width: 120px;
                        height: 48px;
                        border-radius: 40px;
                        overflow: hidden;
                        text-align: center;
                        padding-top: 10px;
                        font-weight: 500;
                        cursor:pointer;
                    }
                    .button:hover{
                        background-image: linear-gradient(to right,$light-blue,$light-green);
                    }
                }
                
            }
            
        }
        .card-carousel{
            transition: 1s;
            .caro_top_header{
                display: flex;
                justify-content: space-between;
                margin-bottom: 15px;
                align-items: center;

                .card_top_arrow {
                    align-items: center;
            
                    p {
                        margin-bottom: 0px;
                        margin-right: 10px;
                    }
            
                    .icon {
                        color: $light-blue;
                        font-size: 20px;
                        font-weight: 900;
                        margin-right: 5px;
                    }
                }
            
                .view_btn {
                    button{
                        transition: .3s;
                        background-color: transparent;
                        color: $white;
                        border:1px solid $light-green;
                        border-radius:5px
                    }
                    button:hover{
                        color:$light-green;
                        // background-color: $white;
                    }
                }
            }
            
        }
    }
    
    
}